---
/** biome-ignore-all lint/correctness/noUnusedImports: React icons are used in JSX */
/** biome-ignore-all lint/correctness/noUnusedVariables: variables used in Astro components */

import { FiChevronRight, FiHome } from "react-icons/fi";
import type { BreadcrumbsProps } from "@/types/ui";

interface Props extends BreadcrumbsProps {}

const { items } = Astro.props;
---

<nav class="flex items-center space-x-2 text-sm text-gray-500 dark:text-gray-400 mb-8">
	<a href="/" class="hover:text-gray-800 dark:hover:text-white p-2 -ml-2">
		<FiHome className="w-4 h-4" />
	</a>
	{items.map(({ label, href }) => (
		<div class="flex items-center space-x-2">
			<FiChevronRight className="w-4 h-4 text-gray-400 dark:text-gray-600" />
			{href ? (
				<a href={href} class="hover:text-gray-800 dark:hover:text-white">
					{label}
				</a>
			) : (
				<span class="text-gray-900 dark:text-white">{label}</span>
			)}
		</div>
	))}
</nav>